<!doctype html>
<html ng-app="mealpickerApp">
    <head>
        <title>Dinner Time</title>
    </head>
    <body ng-controller="mealCtrl">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/mealpicker.css">

        <div class="container-fluid">
            <div class="row">
                
                <!-- Tags -->
                <div class="col-md-3 .visible-sm-block hidden-sm" id="tags">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Tags</div>
                        <div class="panel-body">
                            <div ng-repeat="tag in tags">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="selectedTags[tag]" ng-change="toggleTag()">
                                        <span style="text-transform: capitalize">{{tag}} <span class="badge">{{count(tag)}}</span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Recipies -->
                <div class="col-md-9" id="recipes">

                    <div class="row">
                        <div class="input-group pull-right" style="width: 300px; margin-bottom: 20px;">
                          <input type="text" class="form-control" placeholder="Search Recipes" aria-describedby="basic-addon2" ng-model="search" onClick="this.setSelectionRange(0, this.value.length)">
                          <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                        </div>
                    </div>

                    <div class="row">
                        <ul>
                            <li ng-repeat="recipe in selectedRecipes | searchFilter:search"> 
                                <div class="panel panel-default">
                                  <div class="panel-body">
                                    <h4><span ng-bind-html="highlight(recipe.name, search)"></span>
                                        <small ng-repeat="tag in recipe.tags">
                                            <span class="label label-primary tag">{{tag}}</span>
                                        </small>
                                    </h4> 
                                    <p style="color: #777"><span ng-bind-html="highlight(recipe.description, search)"></span></p>
                                  </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="row" ng-hide="selectedRecipes.length">
                        <div class="col-md-4 col-md-offset-4">
                            <big><i>No Recipes Found</i></big>
                        </div>
                    </div>

                </div>



            </div>
        </div>

        <script language="javascript" src="js/angular.min.js"></script>
        <script language="javascript" src="js/bootstrap.min.js"></script>
        <script language="javascript" src="js/mealpicker.js"></script>
    </body>
</html>
